.life{
    padding:100px 0;
}

.life-header{
    text-align:center;
    margin-bottom:50px;
}

.life-title{
    font-size:32px;
    background: linear-gradient(
            90deg,
            rgba(50, 138, 226, 1) 0%,
            rgba(255, 13, 57, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red{
    color:#e53935;
}

/* layout */

.life-wrapper{


    display:flex;
justify-content: center;

}

/* LEFT */

.life-left{
    width:41%;
}

.life-item{
    min-height:300px;


}
.life-sub{
    color: #165BB8;
    font-weight: 550;

    font-size: 20px;
    margin-bottom: 20px;
}
.life-item h4{
    color:#2d6cdf;
    margin-bottom:10px;
    font-size: 30px;
}

/* RIGHT */

.life-right{
    width:50%;
}

.life-right img{
    width:100%;
    border-radius:16px;

    position:sticky;
    top:120px;
}
.life-imagetop_genaral{
    font-size: 30px;
}
.life-icon-box{
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

.life-imagetop{
    display: block;
}

.life-imagebt{
    position: absolute;
    top: -26px;
    left: -20px;
}.life-item{
     opacity:0;
     transform:translateY(60px);
     transition: all 0.8s cubic-bezier(0.22,1,0.36,1);
 }

/* khi scroll tới */

.life.show .life-item{
    opacity:1;
    transform:translateY(0);
}

/* chạy từng item */

.life.show .life-item:nth-child(1){
    transition-delay:0.1s;
}

.life.show .life-item:nth-child(2){
    transition-delay:0.25s;
}

.life.show .life-item:nth-child(3){
    transition-delay:0.4s;
}

.life.show .life-item:nth-child(4){
    transition-delay:0.55s;
}

/* ảnh bên phải */

.life-right{
    opacity:0;
    transform:translateY(80px);
    transition: all 1s cubic-bezier(0.22,1,0.36,1);
}

.life.show .life-right{
    opacity:1;
    transform:translateY(0);
    transition-delay:0.6s;
}