.partner-section{

    position: relative;
    width:100%;
    padding:100px 8%;
    overflow:hidden;
    padding-top: 18px;

    background: linear-gradient(
            180deg,
            #102A4D 0%,
            #191868 100%
    );
    min-height: 590px;

}

.cooperate-imgig{
    position: absolute;


    z-index: 10;

}
.UNION_coop{
   display: contents;
}
.cooperate-imgig-p{
    top: 53px;
    left: 0;
    width: 65%;
}
.cooperate-imgig-p2{
    top: -38px;
    width: 49%;
    left: 821px;
}
.cooperate-imgig-p3{
    top: 3px;
    right: 274px;
    width: 120px;
}

/* gradient wave */

.partner-wave{

    position:absolute;
    width:1365px;
    height:861px;

    background: linear-gradient(
            72.59deg,
            rgba(41,38,100,0) 7.09%,
            rgba(107,142,210,0.24) 26.39%,
            #5CBAFF 44.73%,
            #E759AE 75.62%,
            #F4475C 98.79%
    );

    opacity:0.2;
    border-radius:50%;

    top:100px;
    right:-200px;
}


/* layout */

.partner-container{

    display:flex;
    justify-content:space-between;
    align-items:center;
}


/* LEFT */

.partner-left{

    width:50%;
    color:white;
}

.partner-sub{
    margin-top: 94px;
    font-size:20px;
    font-weight: bold;
    color:white;
    margin-bottom: 60px;
    letter-spacing:2px;
   text-align: left;
}

.partner-text{
font-weight: 600;
    font-size:16px;
    line-height:1.7;
    max-width:520px;
}

.partner-name{

    margin-top:25px;
    font-size:18px;
    font-weight:700;
}

.partner-role{

    font-size:13px;
    opacity:0.8;
}


/* avatars */

.partner-avatars{

    display:flex;
    gap:28px;
    margin-top:20px;
}

.partner-avatars img{

    width:50px;
    height:50px;
    border-radius:50%;
    cursor:pointer;
    border:2px solid white;
    transition:0.3s;
}

.partner-avatars img:hover{

    transform:scale(1.1);
}

/* RIGHT */

.partner-right{

    width:40%;
    position:relative;
    display:flex;
    justify-content:center;
}


/* main image */

.partner-image img{

    width: 450px;
}


/* quote */

.partner-quote{

    position:absolute;
    top:50px;
    right:40px;

    width:70px;
    height:70px;

    background:linear-gradient(
            180deg,
            #ff5c7a,
            #ff3b5c
    );

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;
}

.partner-quote img{

    width:30px;
}


/* LOGOS */

.partner-logos{

    margin-top: 45px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    opacity:0.7;
}

.partner-logos img{

    height:40px;
    filter:grayscale(100%);
}
.partner-logo-wrapper{
    background:#F1F5F8;


    overflow:hidden;
}

.partner-logo-title{
    text-align:center;
    margin-bottom:30px;

}

.partner-logo-title p{
    color:#2F80ED;
    font-weight:600;
}

.partner-logo-title h3{
    font-size:22px;
    font-weight:700;
    background:linear-gradient(90deg,#2F80ED,#FF3D6E);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.partner-logos{
    width:100%;
    overflow:hidden;
}

.partner-logo-track{
    display:flex;
    gap:70px;
    padding-bottom: 20px;
    width:max-content;
    animation:partnerScroll 20s linear infinite;
    align-items:center;
}

.partner-logo-track img{
    height:60px;
    object-fit:contain;
    opacity:.7;
    transition:.3s;
}

.partner-logo-track img:hover{
    opacity:1;
    transform:scale(1.05);
}

@keyframes partnerScroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}.video_list{
     width: 100%;
     height:800px ;

 }.partner-avatars{
      display:flex;
      gap:20px;
      margin-top:20px;
  }

.partner-avatars img{
    width:60px;
    height:60px;
    border-radius:50%;
    cursor:pointer;
    transition:0.3s;
    opacity:0.6;
}

.partner-avatars img:hover{
    opacity:1;
}

.partner-avatars img.active{
    transform:scale(1.3);
    opacity:1;
}/* FADE ANIMATION */

.fade-in{
    opacity:1;
    transform:translateY(0);
    transition:all .45s ease;
}

.fade-out{
    opacity:0;
    transform:translateY(20px);
    transition:all .25s ease;
}


/* AVATARS */

.partner-avatars{
    display:flex;
    gap:20px;
    margin-top:25px;
}

.partner-avatars img{
    width:60px;
    height:60px;
    border-radius:50%;
    cursor:pointer;
    transition:all .35s cubic-bezier(.4,0,.2,1);
    opacity:.6;
}

.partner-avatars img:hover{
    transform:scale(1.1);
    opacity:1;
}

.partner-avatars img.active{
    transform:scale(1.3);
    opacity:1;
    border:3px solid #ff7a00;
}


/* IMAGE */

.partner-image img{
    width:420px;
    border-radius:20px;
    object-fit:cover;
    transition:all .45s ease;
}.partner-avatars img{
     opacity:.5;
     transition:all .3s ease;
 }

.partner-avatars img.active{
    opacity:1;
    transform:scale(1.15);
}
.partner-mobile-main{
    display: none ;
}
.partner-submobile{
    display: none;
}
@media (max-width:768px){

    .partner-container{
        flex-direction:column;
        align-items: flex-start;
    }
    .partner-section{
        min-height: 500px;
    }
    .partner-submobile{
        display: flex;
    }
.UNION_coop{

    background: #FFFFFF;
    background: linear-gradient(
            90deg,
            rgba(41, 38, 100, 0) 4%,
            rgba(107, 142, 210, 0.24) 24%,
            #5CBAFF 43%,
            #E759AE 68%,
            #ED1B2F 100%
    );
    display:none;
}
    .mobile_uniun{
        position: absolute;
        top: -135px;
        width: 121%;
        left: -54px;
    }
    .partner-mobile-main{
        position:relative;

    }
    .partner-mobile-arrows button{

        transition:.2s;

    }
    .partner-mobile-arrows button:active{

        transform:scale(.85);

    }
    .partner-right{
        display:none;
    }

    .partner-left{
       display: none;
    }

    /* mobile header hiện ra */
    .partner-mobile-header{
        display:flex;
        align-items:center;
        gap:20px;
        margin-bottom:20px;
    }

    .partner-text{
        font-size:15px;
        line-height:1.7;
    }

    .partner-avatars{
        justify-content:center;
    }

    .partner-mobile-main{


        color:white;
        display: flex;
        border-radius:20px;
    }

    .partner-mobile-title{
        font-size:14px;
        letter-spacing:1px;
        margin-bottom:20px;
        opacity:.8;
    }
    .cooperate-imgig-p3{
        display: none;
    }
    .cooperate-imgig-p{
        display: none;
    }
    .cooperate-imgig-p2{
        display: none;
    }

    .partner-mobile-card{
        position:relative;
        transition: all .4s ease;
    }

    .partner-mobile-avatar{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transition: transform .4s ease, opacity .4s ease;
        object-fit: cover;
    }
    /* ADD */

    .partner-mobile-card.fade{
        opacity:.35;
        transform:scale(.95);
        filter:blur(1px);
    }
    .partner-mobile-avatar img{
        width:100%;

        height:100%;
        object-fit:cover;
    }

    .partner-mobile-quote{
        position:absolute;

        top: -27px;
        left: 116px;
        width:80px;
        height:80px;
        border-radius:50%;
        background:linear-gradient(45deg,#ff3b5c,#ff6b9c);
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:26px;
    }

    .partner-mobile-text{
        font-size:15px;
        line-height:1.6;
        margin-bottom:20px;
    }

    .partner-mobile-info h4{
        font-size:16px;
        margin-bottom:5px;
    }

    .partner-mobile-info span{
        font-size:13px;
        opacity:.7;
    }

    .partner-mobile-dots{
        margin-top:10px;
    }

    .partner-mobile-dots span{
        width:6px;
        height:6px;
        border-radius:50%;
        background:#ff4c7c;
        display:inline-block;
        margin-right:6px;
        opacity:.4;
    }

    .partner-mobile-dots span.active{
        opacity:1;
    }

    .partner-mobile-arrows{
        margin-top:15px;
    }

    .partner-mobile-arrows button{
        background:none;
        border:none;
        color:white;
        font-size:20px;
        margin-right:15px;
        cursor:pointer;
    }

}
.partner-mobile-header{
    display:none;
}


.partner-mobile-quote{
    width:80px;
    height:80px;

    background:linear-gradient(180deg,#ff5c7a,#ff3b5c);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:40px;
    font-weight:700;
}