.vision{
    width: 100%;
    height: 600px;

    background-image: var(--bg-desktop);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vision-content{
    max-width: 800px;
    padding: 20px;
}

.vision-sub{
    color: #165BB8;
 font-weight: 550;

    font-size: 20px;
    margin-bottom: 20px;
    transform: translateY(60px);
    transition: all 0.8s cubic-bezier(0.22,1,0.36,1);
}

.vision-content > *{
    opacity: 0;
    transform: translateY(60px);
    transition: all 3s cubic-bezier(0.22,1,0.36,1);
}

/* Khi scroll tới */

.vision.show .vision-content > *{
    opacity: 1;
    transform: translateY(0);
}

/* chạy từng dòng */

.vision.show .vision-sub{
    transition-delay: 0.15s;
}

.vision.show .vision-title{
    transition-delay: 0.35s;
}
.vision-title{
    font-size: 32px;
    line-height: 1.6;
    font-weight: 500;
    color: #1f2a44;
}

.blue{
    background: linear-gradient(
            90deg,
            #328AE2,
            #FF0D39
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* mobile */

@media (max-width:768px){

    .vision{
        background-image: var(--bg-mobile);
        height: 500px;
    }

    .vision-title{
        font-size: 20px;
    }

}